
<div class="main-div">
  <mat-card class="main-card">
    <div class="container">
      <header>
        <mat-toolbar class="tbar">
          <div fxShow="true" fxHide.gt-sm="true">
            <span>Line: {{lineNumber}} : {{itemName}}
              <button mat-icon-button matTooltip="Copy">
                <mat-icon>assignment</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Attach">
                <mat-icon>attachment</mat-icon>
              </button>
            </span>
          </div>


          <span class="spacer"></span>
          <div fxShow="true" fxHide.gt-sm="true">

            <button style="margin-right:20px" mat-stroked-button class="header-stroked-button">
              <b>+ Add Schedule</b>
            </button>

            <mat-button-toggle-group #group="matButtonToggleGroup" appearance="legacy" name="fontStyle"
              aria-label="Font Style">
              <mat-button-toggle [ngClass]=" {'accept' : this.status =='accept', 'neutral': this.status!='accept'}"
                value="accept" (click)="setState(group.value)">Accept </mat-button-toggle>
              <mat-button-toggle [ngClass]=" {'reject' : this.status =='reject', 'neutral': this.status!='reject'}"
                value="reject" (click)="setState(group.value)">Reject</mat-button-toggle>
              <mat-button-toggle [ngClass]=" {'change' : this.status =='change', 'neutral': this.status!='change'}"
                value="change" (click)="setState(group.value)">Change</mat-button-toggle>
            </mat-button-toggle-group>
          </div>


        </mat-toolbar>
      </header>
      
      <aside>
        <div class="itemDescription">
          <p>
            <b>Description: </b> Table Salt, 100KG Tanks
            <br>
            <b>Ship to:</b> Amsterdam
            <br>
            1234 Tulip Lane
            <br>
            Ludwigshafen DE 123456
            <br>

            <b>Supplier Product ID: </b>12341723661
            <br>

            <b>UPC Number: </b>1212387223001
            <br>

            <b>Contract Number: </b>2308109910
          </p>
          <form>
            <mat-form-field class="" appearance="fill">
              <mat-label>Sales Order Number</mat-label>
              <input matInput placeholder="Sales Order Number" value="">
            </mat-form-field>
          </form>
        </div>
      </aside>
      <main>

          
            <div class="flex-row-container-details">
              <div class="flex-row-item-details">
               <mat-card class="details-card">

                <mat-card-header>
                  <mat-card-title>Quantity</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    <b>Ordered:</b>
                    <br> 21000KGM
                    <br>
                    <br>
                    <b>Confirmed: </b>
                    <br>
                    21000KGM
                  </p>
  
                </mat-card-content>
              </mat-card>
            </div>
              <div class="flex-row-item-details">
                <mat-card class="details-card">
                  <mat-card-header>
                    <mat-card-title>Expected Arrival Date</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      <b>Requested:</b>
                      <br> 06-28-2018
                      <br>
                      <br>
                      <b>Confirmed: </b>
                      <br>
                      06-28-2018
                    </p>
    
    
                    <form class="form">
                      <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Expected Ship Date</mat-label>
                        <input matInput [matDatepicker]="picker" [formControl]="shipFormControl"
                          [errorStateMatcher]="matcher" placeholder="Expected Ship Date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="shipFormControl.hasError('required')">
                          <strong>Required</strong>
                        </mat-error>
                      </mat-form-field>
                    </form>
                  </mat-card-content>
              </mat-card>
              </div>
              <div class="flex-row-item-details">
                <mat-card class="details-card">

                  <mat-card-header>
                    <mat-card-title>Price</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      <b>Requested:</b>
                      <br> 80 USD / 2KGM
                      <br>
                      <br>
                      <b>Confirmed: </b>
                      <br>
                      80 USD / 2KGM
                    </p>
                  </mat-card-content>
              </mat-card>

              </div>

            </div>
          

        <div class="status-details">

          <ng-template [ngIf]="status=='accept'" [ngIfThen]="accept"></ng-template>
          <ng-template [ngIf]="status=='reject'" [ngIfThen]="reject"></ng-template>
          <ng-template [ngIf]="status=='change'" [ngIfThen]="change"></ng-template>


          <ng-template #accept>
            <div class="accept-display">
              <p> <i class="inline-icon material-icons">warning</i>Once you click submit below, your Buyer will
                recieve your order confirmation.</p>
            </div>

          </ng-template>
          <ng-template #reject>
            <div class="reject-display">

              <p> <i class="inline-icon material-icons">warning</i>Once you click submit below, your Buyer will
                recieve your rejection.</p>
            </div>

          </ng-template>
          <ng-template #change>
            <div class="change-display">

              <p> <i class="inline-icon material-icons">warning</i>Once you click submit below, your Buyer will
                recieve your change request.</p>
            </div>

          </ng-template>
        </div>

      </main>
      <footer>
        <div class="details-expansion">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Additional Details
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="flex-row-container">
                <div class="flex-row-item">
                  <p>
                    <b>Product Grade Description:</b>
                    <br>
                    Corax N 339
                    <br>
                    Specification: 0123456789
                    <br>
                    Issue: 003
                    <br>
                    Product Enginner: Orion Engineer
                  </p>

                </div>
                <div class="flex-row-item">
                  <p>
                    <b>Transport Method:</b> Road
                    <br>
                    <b>Inco Terms (Location):</b> CPT
                    (WeiBandt-Gölzau)
                    <br>
                    <b>Unloading Point:</b> Amsterdam
                  </p>
                </div>
                <div class="flex-row-item">
                  <p>
                    <b>Ship to Contact:</b> Alan Dowl
                    <br>
                    Phone: (770)-444-4444
                    <br>
                    Fax: (770)-444-4444
                  </p>
                </div>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </footer>
    </div>
  </mat-card>

<mat-card class="submit">
  <button  [disabled]="shipFormControl.invalid" (click)="onSubmit()" type="submit" style="margin-right:20px" mat-stroked-button class="submit-button">
    <b>SUBMIT CONFIRMATION</b>
  </button>
</mat-card>
</div>
<router-outlet></router-outlet>